@media (max-width: 480px) {
    .header{
        width: 20rem;
        margin-bottom: 8.125rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        -ms-flex-order: revert ;
        justify-content: space-around;
    }
}