@media (min-width: 321px) and (max-width: 768px){
    .wrapper, .wrapper-team{
        width: 48rem;
    }
    .header{
        width: 48rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 6rem;
        margin-top: 1.7rem;
    }
    .menu{
        width: 9rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 0;
    }
    .team-part{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .team-item{
        width: 20rem;
    }
}
@media (min-width:769px) {
    .wrapper{
        margin: auto;

    }
    .header{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 10rem;
        margin-top: 1.7rem;
    }
    .menu{
        width: 12rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 0;
    }
    .menu-Item-Link:hover{
        transition-property: color, border-bottom-color;
        transition-duration: 200ms;
        transition-timing-function: linear;
        border: 2px solid #ffffff;
        border-radius:15px;
    }
    .team-part{
        display: flex;
        width: auto;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .team-item{
        width: 13.75rem;
        margin: 0;
    }
    .wrapper-team{
        width: 60rem;
    }
    .site-title{
        font-size: 3.23rem;
        line-height: 3;
    }
}