.header{
    display: flex;
    flex-basis: 20rem;
    margin-bottom: 2.357rem;
    flex-direction: column-reverse;
    padding-left: 0;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
    justify-content: center;
}
.menu-Item-Link {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    color: #ffffff;
    cursor: pointer;
    padding: 0.5rem;
    border: 2px solid;
    border-radius: 15px;
    border-color: transparent;
}

.menu-Item-Link.signup{
    border: 2px solid;
    border-radius: 15px;
    border-color: #ffffff;
}

.logo{
    display: block;
    margin: auto;
    width: 11.75rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    color: #ffffff;
    padding-top: 4rem;

}
.site-title{
    padding-top: 3rem;
    margin-bottom: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    line-height: 2rem;
    text-transform: uppercase;
}
.site-title-container{
    padding: 0;
}

.site-subtitle {
    font-family: 'Roboto Light', sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
   margin-right: auto;
    margin-left: auto;
}
.btn{
    display: block;
    margin: auto;
    width: 17.5625rem;
    height: 2.5rem;
    background-color: #ff4e50;
    color: #ffffff;
    border: 2px solid #ff4e50;
    border-radius: 22px;
    font-family: 'Montserat Bold', sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    cursor: pointer;
}