*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

body{
    text-align: center;
    background-color: #e9f0fd;
}
.header{
    width: 1110px;
    margin-top: 40px;
}
a{
    text-decoration: none;
    color: #515151;
}

.logo{
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 30px;
    font-weight: lighter;
    float: left;
}
.logo::first-letter{
    color: #1abc9c;
    font-weight: bold;
}
ul{
    list-style-type: none;
    float: right;
}
li.menuItem{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: inline;
    padding-right: 34px;
}

li.menuItem:last-child{
    padding-right: 0;
}
li.menuItem:hover > a{
    color: #1abc9c;
}
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
h2{
    width: 600px;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-bottom: 135px;
    font-size: 48px;
    color: #555252;
    margin: auto;
}
h2::after{

    display: block;
    content: '\A';
    background-color: #1abc9c;
    margin: 34px auto 92px;
    width: 160px;
    height: 10px;
}
nav{
    margin-left: 480px;
}
.productItem{
    position: relative;
    font-size: 18px;
    font-family: Roboto black;
    display: block;
    width: 255px;
    height: 323px;
    float: left;
    margin: 4px 30px 34px 0;
}
.imageItem{
    width: 255px;
    height: 282px;
    display: block;
}
.productItem:last-child{
    margin-right: 0;
    padding-right: 0;
}
.productsName{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: block;
    width: 200px;
    height: 40px;
    float: left;
    background-color: #515151;
    color: #ffffff;
    text-align: center;
    padding-top: 4%;

}
.price{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: inline-block;
    height: 40px;
    width: 55px;
    float: left;
    background-color: #515151;
    opacity: 0.5;
    color: #ffffff;
    padding-top: 4%;
    text-align: center;
}
.productItem:hover>.price {
    background-color: #1abc9c;
    opacity: 0.5;
}
.productItem:hover>.productsName{
    background-color: #1abc9c;
}
.products{
    width: 1110px;
}
.overlayBackground{
    content: '';
    position: absolute;
    width: 255px;
    height: 282px;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(0, 0, 0);
    opacity: 0;

}


.overlayContainer{

}

.overlayContainer:hover .overlayBackground {
    opacity: 0.549;
    background-color: black;
}

.overlayContainer:hover .overlayContent {
    opacity: 1;
}

.overlayContent{
font-size: 14px;
    color: #ffffff;
    position: absolute;
    opacity: 0;
}

.banner{
    width: 1600px;
}
.botContent{
    width: 100%;
    height: 90px;
    background-color: #323232;
    display: inline-block;
    text-align: center;

}
.contactInformation{
    text-transform: none;
    width: 1110px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    line-height: 5;
}
.contextSite{
    margin-left: 0px;
}
.Item{
    width: 1110px;

}
.iconBord{
    display: block;
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    float: left;
    margin-top: 100px;
    margin-bottom: 8px;
    margin-right: 8px;
    font-size: 34px;
    text-align: center;
    line-height: 50px;
}
.iconBord:first-child{
    margin-left: 50px;
}
.iconBord:last-child{
    margin-right: 35px;
}
.iconBig{
    display: block;
    width: 165px;
    height: 50px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(50, 50, 50);
    float: left;
    margin: 0 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;

}
.iconBord:hover{
    background-color: #1abc9c;
    border: #1abc9c;
}
.iconBig:hover{
    background-color: #1abc9c;
    border: #1abc9c;
}
.wrapperHeader{
    background-color: white;
    display: inline-block;
    width: 100%;
}
.containerHeader, .containerMain{
    width: 1110px;
    margin: 0 auto 20px;
}
.containerBan, .containerBottom{
    margin-top: 100px;
}
.mainFooterContainer{
    text-align: center;
    margin-top: 100px;

    width: 100%;
    height: 90px;
    background-color: #323232;
    display: inline-block;
    text-align: center;


}
.wrapperMain{
    background-color: #e9f0fd;
    width: 1110px;
    margin: 50px auto;
}
.containerBan{
    background-size: cover;
    min-height: 600px;
    background-image: url("../img/slide4.png");
    width: 100%;
    margin-top: -1px;
    padding-top: 100px;
}
.bannerLink{
    font-family: "Roboto Black", sans-serif;
    font-size: 60px;
    color: white;
    padding-top: 150px;
}
.bannerText{
    font-family: "Roboto Light", sans-serif;
    font-size: 24px;
    color: white;
    padding-top: 28px;
}
.buttonLeft::before{
    content: "\2039";
    color: #ffffff;
    font-size: 100px;
    text-align: center;

}
.buttonRight::after{
    content: "\203a";
    color: #ffffff;
    font-size: 100px;
    text-align: center;
    padding-bottom: 20px;
}
.buttonLeft, .buttonRight{
    display: inline-block;
    height: 104px;
    width: 104px;
    background-color: #1abc9c;
    line-height: 84px;
}

.buttonLeft {
    margin-right: 100px;
}

.buttonRight {
    margin-left: 100px;
}

.containerBannerText{
    display: inline-block;
    text-align: left;
}
.nameDesigner{
    text-transform: none;
    color: #1abc9c;
}
.wrapperBottom{
    width: 1600px;
}
.clothes{
    background-color: #e9f0fd;
}



